*datascience/csv/set_MQ-309A_csv.py linguist-detectable=false
*datascience/csv/set_MQ-303A_csv.py linguist-detectable=false
*datascience/csv/set_MQ-136_csv.py linguist-detectable=false
*datascience/csv/set_MQ-135_csv.py linguist-detectable=false
*datascience/csv/set_MQ-131_csv.py linguist-detectable=false
*datascience/csv/set_MQ-9_csv.py linguist-detectable=false
*datascience/csv/set_MQ-8_csv.py linguist-detectable=false
*datascience/csv/set_MQ-7_csv.py linguist-detectable=false
*datascience/csv/set_MQ-6_csv.py linguist-detectable=false
*datascience/csv/set_MQ-5_csv.py linguist-detectable=false
*datascience/csv/set_MQ-4_csv.py linguist-detectable=false
*datascience/csv/set_MQ-3_csv.py linguist-detectable=false
*datascience/csv/set_MQ-2_csv.py linguist-detectable=false
*examples/datascience/set_MQ-309A_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-303A_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-136_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-135_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-131_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-9_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-8_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-7_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-6_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-5_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-4_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-3_csv.ino linguist-detectable=false
*examples/datascience/set_MQ-2_csv.ino linguist-detectable=false
